{% extends "base.html" %}

{% block content %}
<section class="jumbotron text-center">
  <div id="expand" class="container">
    {% if current_user.is_anonymous %}
    <h1 class="jumbotron-heading">Hello, stranger.</h1>
    <p class="lead text-muted">Please, log in or create an account</p>
    <p>
      <a href="{{ url_for('login') }}" class="btn btn-primary my-2">Log in</a>
      <a href="{{ url_for('register') }}" class="btn btn-secondary my-2">Sign up</a>
    </p>
    {% else %}
    <h1 class="jumbotron-heading">Welcome, {{ current_user.username }}</h1>
    <p class="lead text-muted">Check the videos below</p>
    {% endif %}
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      {% for video in videos %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ url_for('static', filename='img/generic.png')}}" alt="imagem-generica">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </a>
                <a href="#">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </a>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
