{% extends "base_form.html" %}

{% block content %}
<form class="form-signin" action="{{ url_for('register') }}" method="post">
  <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='img/logo.png') }}" height=100 alt="pytube logo">
  </a>

  <div class="input-group" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text">Email</span>
    </div>
    <input type="email" placeholder="user@domain.com" class="form-control" required>
  </div>

  <div class="input-group" style="margin-bottom: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text">Username</span>
    </div>
    <input type="text" placeholder="username" class="form-control" name="username" required>
  </div>

  <div class="input-group" style="margin-bottom: 20px;">
    <div class="input-group-prepend">
      <span class="input-group-text">Password</span>
    </div>
    <input type="password" placeholder="********" class="form-control" name="password" required>
  </div>

  <div class="input-group" style="margin: 0 147px;">
    <button class="btn btn-outline-secondary" type="submit">Create account</button>
  </div>
</form>
{% endblock %}
