{% extends "base.html" %}

{% block content %}

<section class="jumbotron text-center">
  <div id="expand" class="container">
    <video width="640px" height="360px" controls>
      <source src="{{ video_file }}" type="video/webm">
    </video>
    <h2>{{ video.title }}</h2>
    <p>Views: {{ video.views }}</p>
    <p>{{ video.description }}</p>
    <form action="{{ url_for('watch', v=video.watch_id) }}" method="post">
      <input type="text" value="Post a comment here!" name="body">
      <button type="submit">POST!!</button>
    </form>
    {% for post in posts %}
    <p><strong>{{ post.author.username }}</strong>
    <p>{{ post.body }}</p></p>
    {% endfor %}
  </div>
</section>

{% endblock %}
