{% extends "base.html" %}

{% block content %}

<section class="jumbotron text-center">
  <div id="expand" class="container">
    <video width="640px" height="360px" controls>
      <source src="{{ video_file }}" type="video/webm">
    </video>
    <br>
    <h2>{{ video.title }}</h2>
    <p>Views: {{ video.views }}</p>
    <p>{{ video.description }}</p>
    <br>

    <form action="{{ url_for('watch', v=video.watch_id) }}" method="post">
      <div class="input-group" style="margin-bottom: 20px;">
        <textarea placeholder="Post a comment here!" aria-label="With textarea" name="body" style="margin: 0 auto; width: 400px;" required></textarea>
      </div>
      <div class="input-group">
        <button class="btn btn-outline-secondary" type="submit" style="margin: 0 auto;">POST!!!</button>
      </div>
    </form>
    <br>
    <br>
    <div class="container">
      {% for post in posts %}
      <div style="border-style: solid; border-width: 2px; border-color: black; text-align: center; margin: 10px auto; width: 450px; border-radius: 10px; padding-top: 10px;">
        <div class="panel-heading" style="vertical-align: middle;"><p>{{ post.author.username }}</p></div>
        <hr>
        <div class="panel-body" style="vertical-align: middle; padding: 5px 10px;"><p>{{ post.body }}</p></div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
